.card {
    &-img {
        width: 100%;
        margin-top: -50%;
        &-container {
            height: 240px;
            overflow-y: hidden;
        }
    }
    &-title {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
