@import "../../css/style.scss";
.app-header {
    &__logo-link {
        margin-top: 8px;
    }
}

.side-nav {
    .userView {
        // drawer
        .background {
            background-color: lighten($primary-color, 15%);
        }
    }
}

@media #{$medium-and-up} {
    .app-header {
        &__head-img {
            height: 56px !important;
            margin-top: 4px;
        }
    }
}

@media #{$small-and-down} {
    .app-header {
        &__head-img {
            height: 48px !important;
            margin-top: 4px;
        }
    }
}
