// //materialize css common imports
@import '~materialize-css/sass/components/color';
@import '~materialize-css/sass/components/variables';
@import '~materialize-css/sass/components/global';
// //materialize css components
// @import '~materialize-css/sass/components/forms/select';
@import '~materialize-css/sass/components/chips';
@import '~materialize-css/sass/components/typography';
@import '~materialize-css/sass/components/grid';
@import '~materialize-css/sass/components/cards';
@import '~materialize-css/sass/components/carousel';

// ::-webkit-input-placeholder {
//   color: $placeholder-text-color;
// }
// :-moz-placeholder { /* Firefox 18- */
//   color: $placeholder-text-color;
// }

// ::-moz-placeholder {  /* Firefox 19+ */
//   color: $placeholder-text-color;
// }

// :-ms-input-placeholder {
//   color: $placeholder-text-color;
// }

body {
    margin: 0;
}

.card {
    &-img {
        width: 100%;
        &-container {
            height: 240px;
            overflow-y: hidden;
        }
    }
    &-title {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
